.button {
	padding: 5px 15px;
    color: cornflowerblue;
    background: transparent;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}

.button:disabled {
	opacity: 0.5;
	cursor: auto;
}