.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background: #c39261;
}

.white {
    background: #e0d7cb;
}

.figure {
    width: 48px;
    height: 48px;
    position: relative;
}

.selected {
    background: #9396d4;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #85d26a;
}

.availableForW {
    border: solid 1px #ffffff;
}

.availableForB {
    border: solid 1px #000000;
}

.availableForW.availableForB {
    border: solid 1px #888888;
}

.kingAnderAttack {
    background: #d54848;
}

.aggressor {
    background: #ffd900;
}
.attack {
    background: #e27777;
}